<div id="wrapper" class="wrapper login-wrapper">

	<div class="main-middle-area pt-custom-0">

    <section class="auth-section" id="login-section">
      <div class="auth-div">

        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 p-0">

              <div class="auth-root-div">

                <div class="auth-left-side">
                  <div class="auth-banner-div">

                    <div class="img-thumb">
                      <div class="logo-auth-div">
                        <div class="logo-div">
                          <a class="logo_link clearfix" href="index.html">
                            <img src="/assets/images/white-icon-logo.svg" class="img-fluid logo_img main-logo" alt="logo">
                            <h1 class="text-logo"> <span class="text-logo-span1">Creator</span> <span class="text-logo-span2">classes</span></h1>
                          </a>
                        </div>
                      </div>

                      <img src="/assets/images/background/banner-auth-logo.png" class="img-fluid" alt="img" />
                    </div>

                  </div>
                </div>

                <div class="auth-right-side">

                  <div class="auth-content-broot-div">
                    <div class="auth-content-div">

                      <div class="auth-top-area-div">

                        <div class="heading-div">
                          <h2>Forgot your password?</h2>
                        </div>

                        <div class="form-auth-root form-general-root">
                          <div class="form-root-main">
                            <form class="form-root common-form-div" [formGroup]="resetPassword" (ngSubmit)="resetPassData()">

                              <div class="row mlr-8">

                                <div class="col-xl-12 col-lg-12 col-md-12 plr-8">
                                  <div class="message-info-div">
                                    <p>Enter your email address below and we'll get you back on track.</p>
                                  </div>
                                </div>

                                <div class="col-xl-12 col-lg-12 col-md-12 plr-8">
                                  <div class="form-group mb-30">
                                    <label class="label-text">Username or email</label>
                                    <div class="form-group-control">
                                      <input type="text" class="form-control" formControlName="email" placeholder="">
                                    </div>
                                    <div class="invalid-feedback"*ngIf="email && email.invalid && email.touched" style="color: red;display: block;">Please enter your email</div>
                                    <div class="invalid-feedback"*ngIf="errorMessage != ''" style="color: red;display: block;">{{ errorMessage }}</div>
                                  </div>
                                </div>

                                <div class="col-xl-12 col-lg-12 col-md-12 plr-8">
                                  <div class="general-form-btn">
                                    <div class="general-form-left-btn">
                                      <button type="submit" [disabled]="resetPassword.invalid" class="btn btn-common-primary mh-btn55 btn-reset-password">Reset Password</button>
                                    </div>
                                  </div>
                                </div>

                              </div>

                            </form>
                          </div>
                        </div>

                      </div>

                      <div class="auth-bottom-area-div">
                        <div class="row mlr-8">
                          <div class="col-xl-12 col-lg-12 col-md-12 plr-8">
                            <div class="bottom-row">
                              <div class="bottom-left-bx">
                                <div class="link-box text-center-reg-side">
                                  <p>Are you a instructor <a routerLink="/login" class="btn btn-link btn-red-link">Login here</a></p>
                                </div>
                              </div>
                              <div class="bottom-right-bx">
                                <div class="link-box text-center-reg-side">
                                  <p>Already have an account <a routerLink="/signup" class="btn btn-link btn-red-link">Signup</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>

      </div>
    </section>

  </div>

</div><!-- end of wrapper -->
